footer {
margin-bottom: 0;
text-align: center;
width: 100%;
margin-top: 100px;
background-size: cover;
background-position: cover;
padding: 1px 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-evenly;
}

li {
  font-size: 50px;
  padding: 50px;
}

footer p {
  color: white;
}
ul {
  color: white;
}

.fab {
  color: white
}
